p,ul,ol,h1,h2,h3,a
  font-family: 'noto_sansregular', sans-serif


button
  margin-bottom: 1rem
  margin-top: 1rem

input
  margin-bottom: 1.5rem

section
  margin-top: 2%


.main_img
  width: 100%

.logo
  max-width: 20%
  min-width: 180px

.news_content_link
  margin: 3%

.news_author_name
  margin: 1%


.completed
  background-color: #d4d4d3
