@mixin flexSpaceBetween
  display:flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-content: flex-end
  align-items: flex-end
@mixin flexCenter
  display:flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  align-items: center

@mixin animation($animate)
    -webkit-transition:($animate)
    -moz-transition:($animate)
    -o-transition:($animate)
    transition:($animate)

@media (min-width: 320px)

  .flex-container
    @include flexSpaceBetween

  .logo
    max-width: 20%
    min-width: 180px

  .navlink a
    float:right
    padding:3%
    text-align: center
    font-size: 0.688em

  .main_header
    text-align: center

  .section_formatting
    height: 60%

  .social_section a
    font-size: 4em

  .news_content
    margin: 5%
    padding-right: 8%

  .news_author_pic
    margin-top: 5%

@media (min-width: 550px)

  .news_content
    padding: 0 3%
    width: 100%
    font-size: 0.875em

  .news_author_div
    margin-top: 4%

  .social_section a
     font-size: 5em

  label[for="nav-trigger"]
    display: $displayProp

  .mobile_navigation
    display: $displayProp

@media (min-width: 750px)
  .navlink
    float:right
    padding:3%
    font-size: 0.875em

  .news_content
    margin-right: 5%
    width:80%

  .flex-container
    @include flexCenter

  .social_section a
    font-size: 7em

  .news_author_div
    margin-top: 1%

  .leftside
    margin-right: 30%

  .nav_header
    margin-top: -15%
    padding-bottom: 8%

  .navlink
    font-size: 0.938em

@media (min-width: 0px) and (max-width: 550px)
  .navlink
    display: $displayProp

  .crossfade_image
    position:relative

  .bottom
    position:absolute
    left:0
    @include animation($typeofAnimation)
  .bottom:hover
    opacity:0


