/*-------------------Social Section-------------------*/
.social_section
  background-color: $section_background_2
  padding: 7%
  text-align: center

.social_section a
  list-style: none
  color: $accent-color_1
  text-decoration: none
  text-align: center
  margin: 5%

.social_section li:first-child
  padding-left: 23%

.approved
  background: url("../resources/photos/status-sprite.jpg")no-repeat -24px -56px

.notApproved
  background: url("../resources/photos/status-sprite.jpg")no-repeat -168px -56px
