/*-------------------Social Section-------------------*/
.social_section
  background-color: #f5fcfd
  padding: 7%
  text-align: center

.social_section a
  list-style: none
  color: #a6a6a6
  text-decoration: none
  text-align: center
  margin: 5%

.social_section li:first-child
  padding-left: 23%
