/*-------------------Subscribe Section-------------------*/
.subscribe_form
  background-color: #efeded
  text-align: center
  padding: 3%
  padding-top: 0px

.subscribe_form_message
  color: gray
  text-align: center
  margin:5%
