@mixin typical_menu_styles {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
@mixin typical_footer_styles {
  margin-top: 5%;
  text-align: center;
  font-size: 0.750em;
  padding:2%;
}
